<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>
  <setupStep>complete</setupStep>
  <setupType>custom</setupType>
  <buildNumber>7101</buildNumber>
  <properties>
    <property name="admin.ui.allow.daily.backup.custom.location">false</property>
    <property name="admin.ui.allow.manual.backup.download">false</property>
    <property name="admin.ui.allow.site.support.email">false</property>
    <property name="atlassian.license.message">INJECT_LICENSE_HERE</property>
    <property name="attachments.dir">${confluenceHome}/attachments</property>
    <property name="confluence.database.connection.type">database-type-standard</property>
    <property name="confluence.setup.server.id">BUCZ-PDGX-RIGQ-YC69</property>
    <property name="confluence.webapp.context.path">/confluence</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <property name="hibernate.c3p0.max_size">125</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.min_size">20</property>
    <property name="hibernate.c3p0.timeout">30</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.isolation">2</property>
    <property name="hibernate.connection.password">confluence</property>
    <property name="hibernate.connection.url">jdbc:postgresql://postgresql/confluence</property>
    <property name="hibernate.connection.username">confluence</property>
    <property name="hibernate.database.lower_non_ascii_supported">false</property>
    <property name="hibernate.dialect">net.sf.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.schema_management_tool">com.atlassian.confluence.impl.hibernate.ConfluenceHibernateSchemaManagementTool</property>
    <property name="hibernate.setup">true</property>
    <property name="jwt.private.key">MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBALyN3UNhFebLbp1NdY0UBd9kp5UhRVForc6CQ6PiV0k8a5PmK55vO4jrGy30RP0GfrqFwVJ+9oN7Y/xgrNkpefwLxsHee0baMrAkZkTYaDfpjoW4S8NXGM6qkkCtN123tAoCPFitd3MPdf2EzeJQSmXfG9tOgPDrMgBpNoXLhBK1AgMBAAECgYACaHlr8+B4ux5liei3bYsJqFpvkCY3fPPDUGyWujxNJiVllSn3cwo6nG4Tbyw2Yw/ZR/4JFLAHS9siDQYIG/x/0vP3QCcS6v2G5W3iPTy+iNe8FNN+VKvCclS6wUbtE1hg15+8NHfYTvOGSSXeSKHB7JMiQadR2F6x25EGy8LJPQJBAOfGEXk7x+RDGIVKCcOY5cZRxmmEumomV5e89V/IPWCWNtUjl8UM/p58jJH21vv5nZPw9QGaYFVF9kSvadzgg7cCQQDQQ02Rf2Xcaff6oMRfcX5OlhR4MqXHTKf7iM3mdXEAug8fdmWzfN/bxMMEiE7FKcTT3eA/kpuw+lhciNVYSVTzAkBA/aher2Ww2yOgFI/CWjhsMPgLFJ3VMCU1tlWz4wla8SQ1BgMDzU4EkPY149qK04bdOh7psSk8IB8bSXjM5+PnAkBRhEZ0UN1Z7NB3dT3n7dB2ih/w/EIPRF3sApw1PHrCwhDxS7J7EsG8j8OVnpTWb4bvNsVznLr8BsFXVufK6skpAkA4JbeUMocpucpwsX6OJ38uA+NDSmHGKKSw5E9N+QZ0o22vn5JDWcoH8xWtSlAbzfE6VaWf8i+w8EH0FKUlh9P6</property>
    <property name="jwt.public.key">MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC8jd1DYRXmy26dTXWNFAXfZKeVIUVRaK3OgkOj4ldJPGuT5iuebzuI6xst9ET9Bn66hcFSfvaDe2P8YKzZKXn8C8bB3ntG2jKwJGZE2Gg36Y6FuEvDVxjOqpJArTddt7QKAjxYrXdzD3X9hM3iUEpl3xvbToDw6zIAaTaFy4QStQIDAQAB</property>
    <property name="lucene.index.dir">${localHome}/index</property>
    <property name="synchrony.btf">true</property>
    <property name="synchrony.encryption.disabled">true</property>
    <property name="synchrony.proxy.enabled">true</property>
    <property name="webwork.multipart.saveDir">${localHome}/temp</property>
  </properties>
</confluence-configuration>
