
    <!-- Start confluence.cfg.cluster.xml.j2  -->

    <property name="confluence.cluster">true</property>
    <property name="shared-home">{{ atl_product_home_shared }}</property>
    <property name="confluence.cluster.home">{{ atl_product_home_shared }}</property>
    <property name="confluence.cluster.aws.iam.role">{{ atl_hazelcast_network_aws_iam_role }}</property>
    <property name="confluence.cluster.aws.region">{{ atl_hazelcast_network_aws_iam_region }}</property>
    <property name="confluence.cluster.aws.host.header">{{ atl_hazelcast_network_aws_host_header }}</property>
    <property name="confluence.cluster.aws.tag.key">{{ atl_hazelcast_network_aws_tag_key }}</property>
    <property name="confluence.cluster.aws.tag.value">{{ atl_hazelcast_network_aws_tag_value }}</property>
    <property name="confluence.cluster.join.type">aws</property>
    <property name="confluence.cluster.name">{{ atl_aws_stack_name }}</property>
    <property name="confluence.cluster.ttl">1</property>

    <!-- End confluence.cfg.cluster.xml.j2  -->
