<?xml version="1.0" encoding="UTF-8"?>

<!-- Start confluence.cfg.head.xml.j2  -->

<confluence-configuration>

  <setupStep>setupstart</setupStep>
  <setupType>custom</setupType>
  <buildNumber>0</buildNumber>

  <properties>
    <property name="confluence.database.connection.type">database-type-standard</property>
    <property name="webwork.multipart.saveDir">${localHome}/temp</property>
    <property name="attachments.dir">${confluenceHome}/attachments</property>

    <!-- End confluence.cfg.head.xml.j2  -->

