
    <!-- Start confluence.cfg.db.xml.j2  -->

    <property name="confluence.database.choice">{{ atl_db_choice }}</property>
    <property name="hibernate.dialect">{{ atl_db_dialect }}</property>
    <property name="hibernate.connection.driver_class">{{ atl_db_driver }}</property>
    <property name="hibernate.connection.url">{{ atl_jdbc_url }}</property>
    <property name="hibernate.connection.username">{{ atl_jdbc_user }}</property>
    <property name="hibernate.connection.password">{{ atl_jdbc_password }}</property>
    <property name="hibernate.c3p0.min_size">{{ atl_db_poolminsize }}</property>
    <property name="hibernate.c3p0.max_size">{{ atl_db_poolmaxsize }}</property>
    <property name="hibernate.c3p0.timeout">{{ atl_db_timeout }}</property>
    <property name="hibernate.c3p0.idle_test_period">{{ atl_db_idletestperiod }}</property>
    <property name="hibernate.c3p0.max_statements">{{ atl_db_maxstatements }}</property>
    <property name="hibernate.c3p0.validate">{{ atl_db_validate }}</property>
    <property name="hibernate.c3p0.acquire_increment">{{ atl_db_acquireincrement }}</property>
    <property name="hibernate.c3p0.preferredTestQuery">{{ atl_db_validationquery }}</property>

    <!-- End confluence.cfg.db.xml.j2  -->
